<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @code.name %>
</p>

<p>
  <b>Content:</b>
  <%= @code.content %>
</p>
<img src="<%= @code.meta %>" alt="<%= @code.name %>"></img>
<img src="https://chart.googleapis.com/chart?chs=512x512&cht=qr&chl=http%3A%2F%2Fqrcodes.joshpruim.com%2Fcodes%2F1<%= @code.id %>" alt="QR Code"></img>


<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
